.container {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 12%, rgba(211,254,196,0.8) 21%, rgba(177,254,150,0.8) 28%, rgba(163,243,139,0.8) 41%, rgba(0,115,5,0.8) 61%, rgba(0,71,3,0.8) 84%, rgba(0,0,0,0.8) 96%);
    width: 100%;
    height: 100%;
}
.trending{
    height: 100vh;
    background: transparent;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.trending .box h1{
    text-align: center;
    font-size: 3em;
}
.searchBar{
    height: 100vh;
    background: transparent;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.searchBar .box {
    height: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../public/map-local-search-ss-1920.jpg");
    background-size: cover;
}
.searchBar .box h1{
    font-size: 5em;
    backdrop-filter: blur(5px);
}

.searchBar .box input{
    backdrop-filter: blur(5px);
    width: 60%;
    height: 50px;
    margin-top: 40px;
    background: transparent;
    border: 0px;
    border-bottom: 3px solid black;
    outline: none;
    font-size: 3em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}



.products{
    height: 100vh;
    background: transparent;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .box {
    height: 600px;
    width: 80%;
}
.products .box h1{
    text-align: center;
    font-size: 3em;
}

.categories{
    height: 100vh;
    background: transparent;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories .box {
    height: 600px;
    width: 80%;
}
.categories .box h1{
    text-align: center;
    font-size: 3em;
}